body {
  margin: 0;
  background-color: black;
  font-family: "Montserrat";
  
}

p {
  font-size: 20px;
  font-family: "Montserrat";
  color: white;
  text-align: left;
  padding: 20px 20px;
  margin: 0;
}

.highlight {
  border: 15px solid #240071; /* Example: red colored border */
  background-color: #240071;
}

u {
  font-size: 20px;
  font-family: "Montserrat";
  color: #EC7BFF;
}

h1 {
  font-size: 50px;
  font-family: "Montserrat";
  color: #EC7BFF;
  text-align: center;
  padding: 47px 0px;
  font-weight: bold;
}

h2 {
  font-size: 40px;
  font-family: "Montserrat";
  color: #EEEEEE;
  text-align: center;
  padding: 20px 20px;
  margin: 0;
  background-color: #240071;
  font-weight: bold;
}

.secondary-text p {
  text-align: center;
  font-size: 20px;
  padding: 0;
  padding-bottom: 50px;
}

.box-image-home{
  width: 100px;
  height: auto;
  margin: 0;
}

@media screen and (min-width: 280px) {
  .box-image-home{
    width: 70px;
  }
}

@media screen and (min-width: 601px) {
  .box-image-home{
    width: 100px;
  }
}


.box-image-search{
  width: 40px;
  height: auto;  
}

a:focus:not(:link:active) {  
  outline: -webkit-focus-ring-color auto 5px;  
}

.topnav {
  overflow: hidden;
  background-color: #240071;
  position: fixed;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  height:110px;    
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.topnav a {
  float: left;
  color: white;
  padding: 0px 15px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: block;
  z-index: 1;
}

.topnav a.active {
  color: white;
}

@media screen and (max-width: 600px) {
  .topnav a{
    width: 20%;
  }
}

@media screen and (max-width: 1000px) {
  .topnav a{
    width: 50%;
  }
}

.nav-group {
  font-family: "Montserrat";
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-group a:hover {
  color: #EC7BFF;
}

@media screen and (min-width: 901px) {
  .nav-group {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 900px) {
  .nav-group {
    display: none;
    justify-content:space-around;
  }
}
.menu-tray {
  display: flex;
}

.menu-tray a:hover {
  color:#EC7BFF;
}

@media screen and (max-width: 600px) {
  .menu-item{
    font-size: 14px;
  }
}

@media screen and (max-width: 1000px) {
  .menu-item{
    font-size: 20px;
  }
}

/*Hamburger Button

.hamburger-button {
  color:white;
  font-size: 55px;
  cursor:pointer;
}

@media screen and (min-width: 901px) {
  .hamburger-button {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .topnav a {
    display:block;
  }
}
*/

/*Alt Hamburger*/
.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 33px;
  height: 4px;
  margin: 9px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: white;
}


@media screen and (min-width: 276px) and (max-width: 853px){
  .hamburger{
    display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(13px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-13px) rotate(-45deg);
  }

  .nav-group{
    position: fixed;
    left: -100%;
    top: 110px;
    gap: 0;
    flex-direction: column;
    background-color:black;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    display: flex;
    
  }

  .nav-item{
    margin: 26px 0;   
  }

  .nav-group.active{
    left: 0;
  }
}

/*Alt Hamburger End*/

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* semi-transparent black */
  z-index: 1; /* Ensure it's above other content */
}

.overlay.active {
  display: block;
}

.about-image {
  float: left;
  height: 220px;
  width: auto;
  padding:10px 10px;
  margin: 15px;
  margin-bottom: 0;
  flex-wrap: wrap;
}

.about-image-2 {
  float: right;
  height: 220px;
  width: auto;
  padding: 10px 10px;
  margin: 15px;
  margin-bottom: 0;
  flex-wrap: wrap;
}

@media screen and (min-width: 601px) {
  .about-image, .about-image-2 {
    height: auto;
    width: 300px;
  }
}

@media screen and (max-width: 600px) {
  .about-image, .about-image-2 {
    height: auto;
    width: 300px;
  }
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
  object-fit: cover;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  width: 50%;
  position: relative;
  display: block;
  margin: auto;
}

@media only screen and (min-width: 200px){
  .container {
    width: 90%;
  }
}

@media only screen and (min-width: 280px){
  .container {
    width: 100%;
  }
}

@media only screen and (min-width: 375px){
  .container {
    width: 90%;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 50%;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    width: 70%;
    margin-bottom: 200px;
  }
}

@media only screen and (min-width: 1281px) {
  .container {
    width: 50%;
  }
}

.video-container {
  margin-top: 100px;
  position: relative;
}

.my-gif {
  height: 100%;
  width: 100%;
  object-fit: cover; /* Ensures the entire image is visible */
}


.my-video {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
}


.highlightSlides {
  display: none;
  
}

/* Slideshow container */
.slideshow-container {
  max-width: 950px;
  position: relative;
  margin: auto;
  display: block;
}



/* Position the "prev button" to the left */
.prev {
  left: -100px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 20px;
  padding-top: 0;
  margin-top: -20px;
  color: white;
  background-color: black;
  border-style: solid;
  border-color: white;
  border-radius: 50%;
  font-weight: bold;
  font-size: 80px;
  height: 100px;
  width: 100px;
  transition: 0.2s ease;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: -100px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 25px;
  padding-top: 0;
  margin-top: -20px;
  color: white;
  background-color: black;
  border-style: solid;
  border-color: white;
  border-radius: 50%;
  font-weight: bold;
  font-size: 80px;
  height: 100px;
  width: 100px;
  transition: 0.2s ease;
  user-select: none;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: white;
  color: black;
  border-radius: 50%;
}

/* Caption text */
.left-text {
  position: absolute;
  left: 40px;
  top: 50px;
  color: white;
  z-index: 1;
  font-size: 30px;
  font-weight: bold;
}

.right-text {
  position: absolute;
  right: 40px;
  top: 50px;
  color: white;
  z-index: 1;
  font-size: 30px;
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  .prev,
  .next {
    display:none;
  }
}
@media screen and (min-width: 601px) {
  div.left-text, div.right-text {
    font-size: 30px;
    top: 50px;
  }
}

@media screen and (max-width: 600px) {
  div.left-text, div.right-text  {
    font-size: 10px;
    top: 25px;
  }
}

.block-container {
  max-width: 950px;
  max-height: 50px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.30) 100%, rgba(0, 0, 0, 0.60) 100%, rgba(255, 255, 255, 0.65) 100%);
  padding: 72px 12px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  opacity: 100%;
  z-index: 0;
  display: block;
  margin: auto;
}

@media screen and (min-width: 601px) {
  div.block-container{
    max-width: 950px;
  }
}

@media screen and (max-width: 600px) {
  div.block-container  {
    max-width: 950px;
  }
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 0.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */


@media screen and (min-width: 601px) {
  div.block-container {
    padding: 72px 12px;
  }
}

@media screen and (max-width: 600px) {
  div.block-container {
    padding: 32px 12px;
  }
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
  padding: 20px;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/* Responsive layout - for News Videos*/
@media screen and (min-width: 601px) {
  .column  {
    width: 16.66%;
    
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 32%;
    
  }
}

.scroll-container{
  max-width: 500px;
  max-height: 500px;
  aspect-ratio: 1/1;
  overflow-y: scroll;
  position: relative;
  display: block;
  margin: 30px auto;
  background-color: #282828;
}

.sticky-header {
  font-size: 40px;
  font-family: "Montserrat";
  color: #EEEEEE;
  text-align: center;
  padding: 20px 20px;
  margin: 0;
  background-color: #240071;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 1;
}

.content {
  padding-top: 20px; /* Add padding to prevent content from hiding behind the sticky header */
}

table {
  font-family: "Montserrat";
  color: white;
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: #240071;
  padding: 6px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 0px;
  text-align: center;
  cursor: pointer;
  
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.td-img {
  padding: 0px;
  width: 100%;
  background-size: cover;
  object-fit: fill;
}

.td-img-container {
  padding: 1px;
  text-align: left;
  
}

.table-row {
  background-color:#1E1E1E;
  color: white;
  border:solid 1px #240071;
}

.table-row:hover {
  background-color: white;
  color: #240071;
}

.td-text {
  text-align: center;
  padding: 10px;
}
/*

@media screen and (max-width: 601px) {
  table {
    font-size: 20px;
  }
}

@media screen and (min-width: 600px) {
  table {
    font-size: 11px;
  }
}

*/

/* Table Responsive */
@media screen and (min-width: 201px) {
  table {
    font-size: 7px;
  }
}

@media screen and (min-width: 301px) {
  table {
    font-size: 7px;
  }
}

@media screen and (min-width: 601px) {
  table {
    font-size: 9px;
  }
}

@media screen and (min-width: 768px) {
  table {
    font-size: 15px;
  }
}

@media screen and (min-width: 800px) {
  table {
    font-size: 15px;
  }
}

@media screen and (min-width: 1200px) {
  table {
    font-size: 20px;
  }
}

@media screen and (min-width: 1280px) {
  table {
    font-size: 20px;
  }
}

/* Table Responsive END */



@media screen and (min-width: 601px) {
  th {
    padding-left: 10px;
  }
}

@media screen and (max-width: 600px) {
  th {
    padding-left: 10px;
  }
}

@media screen and (min-width: 601px) {
  div.td-img-container  {
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  div.td-img-container {
    height: 100%;
    width: 100%;
  }
}
/*
tr.table-row:nth-child(odd) {
  background-color: rgba(96, 88, 88, 0.2);
}

tr.table-row:nth-child(even) {
  background-color: #565454;
}
*/
.row {
  display: block;
}

.video-column {
  width: 100%;
  padding: 20px;
  
}

.accordion {
  background-color:#240071;
  color: #EEEEEE;
  cursor: pointer;
  padding: 10px;
  flex: 50%;
  width: 450px;
  border: none;
  text-align: center;
  outline: none;
  font-size: 20px;
  transition: 0.4s;
  
}

.accordion:hover {
  background-color:#EC7BFF;
}

.panel {
  display: none;
  background-color: black;
  width: 450px;
  margin: 0;
  
}

/* Responsive layout - for Panel*/
@media screen and (min-width: 201px) {
  .panel {
    width: 280px; 
  }
}

@media screen and (min-width: 301px) {
  .panel {
    width: 380px; 
    
  }
}

@media screen and (min-width: 360px) {
  .panel {
    width: 345px; 
    
  }
}

@media screen and (min-width: 375px) {
  .panel {
    width: 355px; 
    
  }
}

@media screen and (min-width: 601px) {
  .panel  {
    width: 400px; 
    
  }
}

@media screen and (min-width: 800px) {
  .panel {
    width: 300px; 
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .panel {
    width: 450px; 
    
  }
}

@media screen and (min-width: 1280px) {
  .panel {
    width: 450px; 
    
  }
}

@media screen and (min-width: 1281px) {
  .panel{
    width: 450px;
  }
}

/*Panel End*/


.fa-angle-down {
  padding: 10px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  display: flex;
  text-align: center;
  padding-bottom: 50px;
}


.flex-item-left {
  width: 100%;
  padding: 0px;
  flex: 50%;
}

.flex-item-right {
  width: 100%;
  padding: 0px;
  flex: 50%;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}


/* Responsive layout - for News Videos*/
@media screen and (min-width: 201px) {
  iframe {
    width: 250px; 
    padding: 10px;
    flex: 50%;
  }
}

@media screen and (min-width: 301px) {
  iframe  {
    width: 350px; 
    height: 300px;
  }
}


@media screen and (min-width: 601px) {
  iframe  {
    width: 450px; 
    height: 300px;
  }
}

@media screen and (min-width: 800px) {
  iframe {
    width: 320px; 
    height: 300px;
  }
}

@media screen and (min-width: 1200px) {
  iframe {
    width: 450px; 
    height: 300px;
  }
}

@media screen and (min-width: 1280px) {
  iframe {
    width: 450px; 
    height: 300px;
  }
}

@media screen and (min-width: 1281px) {
  iframe {
    height: 300px;
    width: 450px;
  }
}

@media screen and (min-width: 201px) {
  .accordion {
    width: 250px; 
    padding: 10px;
    flex: 50%;
  }
}

@media screen and (min-width: 301px) {
  .accordion {
    width: 350px; 
    padding: 10px;
    flex: 50%;
  }
}

@media screen and (min-width: 601px) {
  .accordion  {
    padding: 10px;
    flex: 50%;
    width: 450px;
  }
}

@media screen and (min-width: 800px) {
  .accordion {
    padding: 10px;
    flex: 50%;
    width: 320px;
  }
}

@media screen and (min-width: 1200px) {
  .accordion {
    padding: 10px;
    flex: 50%;
    width: 420px;
  }
}

@media screen and (min-width: 1280px) {
  .accordion {
    padding: 10px;
    flex: 50%;
    width: 420px;
  }
}

@media screen and (min-width: 1281px) {
  .accordion {
    padding: 10px;
    flex: 50%;
    width: 450px;
  }
}

/* 


*/
.gallery-container {
  flex-direction: row;
  display: block;
  padding-bottom: 50px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  
}

.gallery .light-column img{
  width: 250px;
  margin-top: 10px;
  height: 100%;
  transition: 1s;
  cursor:zoom-in;
  text-align: center;
}

.gallery img:hover {
  transform: scale(1.1);
}

/*Lightbox*/


.light-column {
  float: left;
}

.gallery > .light-column {
  padding: 0 8px;
  text-align: center;
}

.gallery:after {
  content: "";
  display: table;
  clear: both;
}



/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.30) 100%, rgba(0, 0, 0, 0.60) 100%, rgba(255, 255, 255, 0.65) 100%);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 100%;
  max-width: 1000px;
  margin-top:100px;
}

/* The Close Button*/ 
.close {
  color: white;
  position: fixed;
  top: 30px;
  font-size: 35px;
  font-weight: bold;
  margin-top:100px;
  right: 200px;
}


.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}


@media screen and (min-width: 601px) {
  .close {
    right: 200px;
  }
}

@media screen and (max-width: 900px) {
  .close {
    right: 50px;
  }
}

.mySlides {
  display: none;
}


/* Number text (1/3 etc) */
.numbertext2 {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

#caption {
  text-align: center;
  color:#240071;
  font-weight: bold;
  display: inline-block;
  font-size: 20px;
}

.caption-container {
  text-align: center;
  background-color: white;
  padding: 2px 16px;
  position: relative;
}

.demo2 {
  opacity: 0.0;
}

.icon {
  width:18px;
  margin-bottom: 10px;
}


/*Footer*/

#footerTable {
  color:#EC7BFF;
  font-size: 12px;
  padding: 0px;
}


footer {
  background-color: #1E1E1E;
  width: 100%;
  height: auto;
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  
}


.left-footer{
  width: 50px;
  font-size: 14px;
}

.copyright {
  width: 50px;
  font-size: 14px;
 }
 
 .button {
  border: none;
  color: white;
  background-color: #84009A;
  background-image: linear-gradient(to right, #84009A, #4500D7);
  padding: 8px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  width: 170px;
  cursor: pointer;
  font-family: "Montserrat";
  font-weight: bold;
  border-radius: 15px 15px 15px 15px;

}

.button:hover {
  color: white;
  background-color: #84009A;
  background-image: linear-gradient(to right, #c803eb, #5305fc);

}

@media screen and (min-width: 280px) {
  .button{
    width: 170px;
  }
}
@media screen and (max-width: 600px) {
  .button{
    width: 150px;
  }
}

.social {
  width: 300px;
}

.footer-icon-facebook, .footer-icon-twitch, .footer-icon-instagram {
  width: 50px;
  height: auto;
  margin: 10px;
  margin-right: 0px;
  text-align: center;
  float: right;
}

.footer-icon-facebook:hover, .footer-icon-twitch:hover, .footer-icon-instagram:hover {
  background-color:#EEEEEE
}

.footer-mainlinks {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
}

.footer-mainlinks_item {
  float: left;
  padding: 16px;
  padding-left: 0%;
}

.footer-mainlinks-top {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
}

.footer-mainlinks-top_item {
  float: left;
  padding: 16px;
  padding-left: 0%;
  font-weight: bold;
}

.footer-buttons{
  float:right;
  
}

.footer-cdpr{
  float:right;
  text-align: right;
  color:#EC7BFF;
  font-size: 12px;
  word-spacing: 3px;
  width: 90%;
  
}

.cdprLogo {
  height: 96px;
  margin-bottom: 10px;
  padding: 0px;
  
}

@media screen and (min-width: 601px){
  .cdprLogo {
   
    height: 96px;
    margin-bottom: 10px;
    padding: 0px;
  }
}

@media screen and (max-width: 600px){
  .cdprLogo {
    
    height: 66px;
    margin-bottom: 10px;
    padding: 0px;
    
  }
}


