body {
  margin:0;
  background-color: black;
}

p {
  font-size: 20px;
  font-family: "Montserrat";
  color: white;
  text-align: left;
  padding: 20px 30px;
}

u {
  font-size: 20px;
  font-family: "Montserrat";
  color: #E963FF;
}

h1 {
  font-size: 50px;
  font-family: "Montserrat";
  color: #E963FF;
  text-align: center;
  padding: 47px 0px;
}

h2 {
  font-size: 40px;
  font-family: "Montserrat";
  color: #EEEEEE;
  text-align: center;
  padding: 20px 20px;
  margin: 0;
  background-color: #240071;
}

.box-image-home{
  width: 100px;
  height: auto;
  margin: 0;
  
}

.box-image-search{
  width: 40px;
  height: auto;  
}

.topnav {
  overflow: hidden;
  background-color: #240071;
  position: fixed;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  height:110px;    
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topnav a {
  float: left;
  color: white;
  padding: 45px 15px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: block;
}
  
.topnav a.active {
  color: white;
}
  
.topnav-right {
  font-family: "Montserrat";
  display: flex;
  justify-content: center;
  align-items: center;
}

.topnav-right a:hover {
  background-color: #E963FF;
  color: #240071;
}

.video {
  height: 50px;
}

.about-image {
  height: 180px;
  width: auto;
  float: left;
  border: 0px;
  padding: 0px 0px;
  margin: 30px;
  margin-bottom: 60px;
  flex-wrap: wrap;
}

.about-image-2 {
  height: 180px;
  width: auto;
  float: right;
  border: 0px;
  padding: 0px 0px;
  margin: 30px;
  margin-bottom: 60px;
  flex-wrap: wrap;
}

.container {
  max-width: 900px;
  position: relative;
  display: block;
  margin: auto;
}

.scroll-container{
  max-width: 500px;
  max-height: 500px;
  aspect-ratio: 1/1;
  overflow-y: scroll;
  position: relative;
  display: block;
  scroll-snap-type: both mandatory;
  scroll-snap-align: end;
  margin: 30px auto;
  background-color: #282828;
}

.mySlides {
  margin: auto;
  max-width: 100%;
  height: auto;
  
}

.slide-row {
  padding: 0;
  align-items: baseline;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  
}

.row-image {
  border: 0px;
  padding: 0px 0px;
  margin: 20px;
  margin-top: 30px;
  height: 55px;
  width: auto;
  cursor: pointer;
  align-items: center;
  opacity: 0.65;
}

.row-image:hover {
  opacity: 1;
}

img {
  vertical-align: middle;
  
}


 footer {
  background-color: #1E1E1E;
  height: 500px;
   
}
