body {
  margin:0;
  background-color: black;
}

p {
  font-size: 20px;
  font-family: "Montserrat";
  color: white;
  text-align: left;
  padding: 47px 0px;
}

h1 {
  font-size: 50px;
  font-family: "Montserrat";
  color: #E963FF;
  text-align: center;
  padding: 47px 0px;
}

.box-image-home{
  width: 100px;
  height: auto;
  margin: 0;
  
}

.box-image-search{
  width: 40px;
  height: auto;  
}

.topnav {
    overflow: hidden;
    background-color: #240071;
    position: fixed;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    height:110px;    
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .topnav a {
    float: left;
    color: white;
    padding: 45px 15px;
    text-decoration: none;
    font-size: 20px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: block;
  }
  
  .topnav-right a:hover {
    background-color: #E963FF;
    color: #240071;
  }
  
  .topnav a.active {
    color: white;
  }
  
  .topnav-right {
    font-family: "Montserrat";
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .video {
    height: 50px;
  }

  .about-image {
    height: 200px;
    width: auto;
    float: left;
    border: 50px;
  }

  .about-image-2 {
    height: 200px;
    width: auto;
    float: right;
    border: 50px;
  }

  .container {
    padding: 0px 525px;
    
  }

  

  * {
    box-sizing: border-box;
  }
  
  footer {
    background-color: #1E1E1E;
    height: 500px;
    width: auto;
   
  }